/* #region RESET */

img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* #endregion RESET */

/* #region VARIABLES */

:root {
    --body-bg: #f8f9fa;
    --search-bg: #e5e5e5;
    --header-btn: #5b5858;
    --bell-color: #ff8f00;
    --side-nav-bg: #051e34;
    --side-btn-hover-bg: rgba(211, 211, 211, 0.582);
    --top-banner-bg: #1b72e8;
    --top-banner-badge-bg: #165bba;
    --header-height: 4.375rem;
}

/* #endregion VARIABLES */

/* #region TYPOGRAPHY */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-bg);
}

/* #endregion TYPOGRAPHY */

/* #region HEADER */

header {
    height: var(--header-height);
}

header .headbar {
    background-color: white;
    width: 100vw;
}

header .headbar .img-container {
    min-width: 40px;
    height: 40px;
}

header .headbar .img-container img {
    height: 100%;
}

header .headbar .input-group-text {
    background-color: var(--search-bg);
}

header .headbar .search-bar {
    background-color: var(--search-bg);
    border-color: var(--search-bg);
    font-size: .875rem;
}

header .headbar .control-buttons {
    color: var(--header-btn);
}

header .headbar .dropdown .btn {
    color: var(--bell-color);
}

/* #endregion HEADER */

/* #region MAIN */

.main-container {
    height: calc(100vh - var(--header-height));
}

.main-container .side-nav {
    background-color: var(--side-nav-bg);
    background-image: url(../img/sidebar-bg.png);
    color: white;
    flex-shrink: 0;
}

.main-container .side-nav ul li {
    line-height: 2rem;
}

.main-container .side-nav ul li:hover {
    background-color: var(--side-btn-hover-bg);
}

.main-container .side-nav ul li .custom-p {
    padding-left: .5625rem;
}

.main-container .side-nav .fa-chart-simple {
    padding-right: .3125rem;
}

.main-container .dashboard {
    flex-grow: 1;
}

.main-container .dashboard .top-banner {
    background-color: var(--top-banner-bg);
    color: white;
}

.main-container .dashboard .top-banner .badge {
    background-color: var(--top-banner-badge-bg);
    border-radius: 30px;
    font-size: .875rem;
    font-weight: initial;
}

.main-container .dashboard .top-banner .top-group .boolean-title {
    font-size: 1.75rem;
}

.main-container .dashboard .top-banner .bottom-group .fa-angles-right {
    font-size: .75rem;
}

.main-container .dashboard .top-banner .student-counter {
    font-size: 1.625rem;
}

.main-container .dashboard .offcanvas {
    width: 100vw;
}

.main-container .dashboard .control-panel .classes-table,
.main-container .dashboard .control-panel .todo-checklist,
.main-container .dashboard .control-panel .active-users {
    font-size: .875rem;
}

.main-container .dashboard .control-panel .todo-checklist .form-check {
    min-height: unset;
    margin: unset;
}


.main-container .dashboard .control-panel .classes-table .badge.text-bg-warning {
    color: white !important;
}

.main-container .dashboard .control-panel .classes-table button,
.main-container .dashboard .control-panel .classes-table .classes-table-icon {
    width: 30px;
    height: 30px;
}


.main-container .dashboard .control-panel .active-users .graph-name {
    font-size: 1.25rem;
}

/* #endregion MAIN */

/* #region MEDIA QUERIES */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .main-container .dashboard .top-banner .student-counter {
        font-size: 1.75rem;
    }

    .main-container .dashboard .control-panel .classes-table thead tr .nome {
        width: 56%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    header .headbar .img-container {
        min-width: 130px;
        height: 35px;
    }

    .main-container .side-nav ul li {
        line-height: 40px;
    }

    .main-container .dashboard .top-banner .top-group .boolean-title {
        font-size: 2rem;
    }

    .main-container .dashboard .top-banner .student-counter {
        font-size: 2rem;
    }

    .main-container .dashboard .offcanvas {
        width: 42vw;
    }

    .main-container .dashboard .control-panel .classes-table thead tr .nome {
        width: 44%;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .main-container .dashboard .control-panel .classes-table thead tr .nome {
        width: 55%;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    .main-container .dashboard .control-panel .classes-table thead tr .nome {
        width: 63%;
    }
}

/* #endregion MEDIA QUERIES */