/* #region RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* #endregion RESET */

/* #region VARIABLES */

:root {
    --body-bg: #f8f9fa;
    --search-bg: #e5e5e5;
    --header-btn: #5b5858;
    --bell-color: #ff8f00;
    --side-nav-bg: #051e34;
    --side-btn-hover-bg: rgba(211, 211, 211, 0.582);
    --top-banner-bg: #1b72e8;
    --top-banner-badge-bg: #165bba;
}


/* #endregion VARIABLES */

/* #region TYPOGRAPHY */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-bg);
}

/* #endregion TYPOGRAPHY */

/* #region COMPONENTS */



/* #endregion COMPONENTS */

/* #region HEADER */

header {
    height: 70px;

}

header .headbar {
    background-color: white;
    width: 100vw;

}

header .headbar .img-container {
    min-width: 50px;
    height: 50px;
}

header .headbar .img-container img {
    height: 100%;
}

header .headbar .input-group-text {
    background-color: var(--search-bg);
}

header .headbar .search-bar {
    background-color: var(--search-bg);
    border-color: var(--search-bg);
    font-size: .875rem;
}

header .headbar .control-buttons {
    color: var(--header-btn);
}

header .headbar .dropdown .btn {
    color: var(--bell-color);
}

/* #endregion HEADER */

/* #region MAIN */

main .side-nav {
    background-color: var(--side-nav-bg);
    background-image: url(../img/sidebar-bg.png);
    color: white;
    height: calc(100vh - 70px);
}

main .side-nav ul {
    height: 100%;
}

main .side-nav ul li {
    line-height: 2rem;
}

main .side-nav ul li:hover {
    background-color: var(--side-btn-hover-bg);
}

main .side-nav ul li .custom-p {
    padding-left: .5625rem;
}

main .side-nav ul li:last-child {
    margin-top: auto;
}

main .side-nav .fa-chart-simple {
    padding-right: .3125rem;

}

main .dashboard {
    width: calc(100vw - 68px);
    overflow-y: auto;
}

main .dashboard .top-banner {
    background-color: var(--top-banner-bg);
    color: white;
}

main .dashboard .top-banner .badge {
    background-color: var(--top-banner-badge-bg);
    border-radius: 30px;
    font-size: .875rem;
    font-weight: initial;
}

main .dashboard .top-banner .top-group .boolean-title {
    font-size: 1.75rem;
}

main .dashboard .top-banner .bottom-group .fa-angles-right {
    font-size: .75rem;
}

main .dashboard .top-banner .student-counter {
    font-size: 1.625rem;
}

/* #endregion MAIN */

/* #region FOOTER */

/* #endregion FOOTER */

/* #region MEDIA QUERIES */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    main .dashboard .top-banner .student-counter {
        font-size: 1.75rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header .headbar .img-container {
        width: 175px;
        height: 42px;
    }

    main .side-nav ul li {
        line-height: 40px;
    }

    main .dashboard {
        width: calc(100vw - 151.98px);
    }

    main .dashboard .top-banner .top-group .boolean-title {
        font-size: 2rem;
    }

    main .dashboard .top-banner .student-counter {
        font-size: 2rem;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

/* #endregion MEDIA QUERIES */